## Weeks 11 & 12 Exercises

## Receiving Data From Databases

Amelia Farrell

DSC540

5/24/23

In [ ]:
# Connecting to google drive
from google.colab import drive 
drive.mount('/content/drive')

# Change to the google drive directory
%cd /content/drive/MyDrive/Colab\ Notebooks/DSC540

Mounted at /content/drive
/content/drive/MyDrive/Colab Notebooks/DSC540

## 1. Data Wrangling with Python: Activity 11, page 320

Receiving Data From the Pet Database

In [ ]:
# importing libraries needed
import sqlite3

In [ ]:
# connecting to the supplied petsDB database
conn = sqlite3.connect("petsdb")

In [ ]:
# creating a function to check if the connection is complete
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

# running our function above
print(is_opened(conn))

True

In [ ]:
# useing a for loop to find the different age groups in the persons database
c = conn.cursor()
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people aged {}".format(ppl, age))

There are 2 people aged 5
There are 1 people aged 6
There are 1 people aged 7
There are 3 people aged 8
There are 1 people aged 9
There are 2 people aged 11
There are 3 people aged 12
There are 1 people aged 13
There are 4 people aged 14
There are 2 people aged 16
There are 2 people aged 17
There are 3 people aged 18
There are 1 people aged 19
There are 3 people aged 22
There are 2 people aged 23
There are 3 people aged 24
There are 2 people aged 25
There are 1 people aged 27
There are 1 people aged 30
There are 3 people aged 31
There are 1 people aged 32
There are 1 people aged 33
There are 2 people aged 34
There are 3 people aged 35
There are 3 people aged 36
There are 1 people aged 37
There are 2 people aged 39
There are 1 people aged 40
There are 1 people aged 42
There are 2 people aged 44
There are 2 people aged 48
There are 1 people aged 49
There are 1 people aged 50
There are 2 people aged 51
There are 2 people aged 52
There are 2 people aged 53
There are 2 people aged 54
There are 1 people aged 58
There are 1 people aged 59
There are 1 people aged 60
There are 1 people aged 61
There are 2 people aged 62
There are 1 people aged 63
There are 2 people aged 65
There are 2 people aged 66
There are 1 people aged 67
There are 3 people aged 68
There are 1 people aged 69
There are 1 people aged 70
There are 4 people aged 71
There are 1 people aged 72
There are 5 people aged 73
There are 3 people aged 74

In [ ]:
# useing a for loop to find what age group has maximum number of people
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("There are {} people in the {} age group, making this the age group with the most people.".format(ppl, age))
    break

There are 5 people in the 73 age group, making this the age group with the most people.

In [ ]:
# finding out how many last names are missing
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)

(60,)

In [ ]:
# checking how many people in the database have more than one pet
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} people have more than one pet".format(row[0]))

43 people have more than one pet

In [ ]:
# how many pets have received treaments?
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)

(36,)

In [ ]:
# how many pets have received treatment where the type of treatment was mentioned?
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)

(16,)

In [ ]:
# how many pets are from East Port?
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)

(49,)

In [ ]:
# how many pets from East Port also received a treatment?
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)

(11,)